<configuration>
	<system.webServer>
		<aspNetCore processPath="dotnet" arguments="server.dll">
			<environmentVariables>
				<add name="ASPNETCORE_ENVIRONMENT" value="Production" />
			</environmentVariables>
			<stdoutLogEnabled>false</stdoutLogEnabled>
			<stdoutLogFile>.\logs\stdout</stdoutLogFile>
		</aspNetCore>
	</system.webServer>
</configuration>
